body {
    background-color: hsl(0, 0%, 20%); 
}

.overview-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    background-color: hsl(0, 0%, 15%); 
}

.side-container {
    display: flex;
    flex-direction: column;
}