:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lobster-regular {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
}


.montserrat-normal {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}


.raleway-italic {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 185;
  font-style: italic;
}

.varela-round-regular {
  font-family: "Varela Round", serif;
  font-weight: 400;
  font-style: normal;
}

.kumar-one-outline-regular {
  font-family: "Kumar One Outline", serif;
  font-weight: 400;
  font-style: normal;
}

.mynerve-regular {
  font-family: "Mynerve", serif;
  font-weight: 400;
  font-style: normal;
}

.coming-soon-regular {
  font-family: "Coming Soon", serif;
  font-weight: 400;
  font-style: normal;
}
